/* TextBox用設定 */
[data-jwf-style="TextBox"] {
  > div {
    //border: inset;
    display: flex;
    padding:0.1em;

    > img {
      height: 1.8em;
    }

    > div {
      flex: 1;
      position: relative;

      > input {
        user-select: all;
        position: absolute;
        background-color: rgba(219, 238, 253, 0.5);
        color:black;
        min-height: 2em;
        padding: 0.2em;
        border: solid 1px;
        width: 100%;
      }

      > div {
        color:rgba(0,0,0,0.8);
        white-space: nowrap;
        position: absolute;
        padding: 0.2em;
      }
    }
  }
}
