/* TreeView用設定 */
@keyframes treeOpen {
  0% {
    margin-top: -1.5em;
    opacity: 0.2;
  }

  100% {
    margin-top: 0%;
  }
}

@keyframes treeClose {
  0% {
    margin-top: 0;
    opacity: 0.6;
  }

  90% {
    margin-top: -2em;
    opacity: 0.6;
  }

  100% {
    margin-top: -100%;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
  }
}

[data-jwf-style="TreeView"] {
  overflow: auto !important;
  user-select: none;
  > [data-kind="TreeItem"] {
    padding-left: 0em;
  }
}

[data-kind="TreeRow"] {
  display: flex;
  &:first-child:hover {
    border-bottom: black 1px solid;
  }

  &[data-drag="over"] {
    background-color: rgba(80, 233, 149, 0.2);
  }

  &:first-child {
    cursor: pointer;
  }
  &:nth-child(2) > [data-kind="TreeChild"] {
    overflow: hidden;
  }

}

[data-kind="TreeChild"] {
  flex: 1;
}

[data-kind="TreeBody"] {
  flex: 1;
}

[data-kind="TreeIcon"] {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 2px;
  vertical-align: middle;
  cursor: default;
  background-size: 100% 100%;
  background-image: url("images/tclose.svg");
  flex-grow: 0;
  flex-shrink: 0;
}

[data-kind="TreeItem"] {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
  &[data-stat="close"] > [data-kind="TreeRow"] > [data-kind="TreeIcon"] {
    background-image: url("images/tclose.svg");
  }

  &[data-stat="open"] > [data-kind="TreeRow"] > [data-kind="TreeIcon"] {
    background-image: url("images/topen.svg");
  }

  &[data-stat="alone"] > [data-kind="TreeRow"] > [data-kind="TreeIcon"] {
    background-image: url("images/talone.svg");
  }
  &[data-select="true"] > [data-kind="TreeRow"]:first-child {
    background-color: rgba(80, 80, 233, 0.2);
    flex: 1;
  }
}
